<mat-list-item fxLayout="row" fxLayoutAlign="space-between center">
  <div class="subject" fxFlex="50">
    A random subject
  </div>
  <div class="due-date" fxFlex="25">
    2019-04-03
  </div>
  <div class="priority">
    <mat-icon>priority_high</mat-icon>
  </div>
  <div class="delete">
    <button mat-button>
      <mat-icon>delete</mat-icon>
      Delete
    </button>
  </div>
  <div class="done">
    <button mat-button>
      <mat-icon>done</mat-icon>
      Done
    </button>
  </div>
</mat-list-item>
